openapi: 3.0.3
info:
  title: College Management System API
  version: 1.0.0
  description: Full system with RBAC, models, menus, and endpoints

servers:
  - url: https://api.collegeapp.com

security:
  - bearerAuth: []

paths:

  /roles:
    get:
      summary: Get all roles
      responses:
        "200":
          description: Roles list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'

    post:
      summary: Create role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        "201":
          description: Role created

  /roles/{id}:
    get:
      summary: Get role by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: Role details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'

    put:
      summary: Update role
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        "200":
          description: Role updated

    delete:
      summary: Delete role
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "204":
          description: Role deleted


  /students:
    get:
      summary: Get all students
      responses:
        "200":
          description: Student list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'

    post:
      summary: Create student
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        "201":
          description: Student created

  /students/{id}:
    get:
      summary: Get student by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: Student details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'

    put:
      summary: Update student
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        "200":
          description: Student updated

    delete:
      summary: Delete student
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "204":
          description: Student deleted


  /faculty:
    get:
      summary: Get all faculty
      responses:
        "200":
          description: Faculty list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Faculty'

    post:
      summary: Create faculty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Faculty'
      responses:
        "201":
          description: Faculty created

  /faculty/{id}:
    get:
      summary: Get faculty by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: Faculty details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Faculty'

    put:
      summary: Update faculty
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Faculty'
      responses:
        "200":
          description: Faculty updated

    delete:
      summary: Delete faculty
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "204":
          description: Faculty deleted


  /courses:
    get:
      summary: Get all courses
      responses:
        "200":
          description: Course list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'

    post:
      summary: Create course
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        "201":
          description: Course created

  /courses/{id}:
    get:
      summary: Get course by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: Course details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'

    put:
      summary: Update course
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Course'
      responses:
        "200":
          description: Course updated

    delete:
      summary: Delete course
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "204":
          description: Course deleted


  /attendance:
    get:
      summary: Get attendance records
      responses:
        "200":
          description: Attendance list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attendance'

    post:
      summary: Create attendance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attendance'
      responses:
        "201":
          description: Attendance created

  /attendance/{id}:
    get:
      summary: Get attendance by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: Attendance details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendance'

    put:
      summary: Update attendance
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attendance'
      responses:
        "200":
          description: Attendance updated

    delete:
      summary: Delete attendance
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "204":
          description: Attendance deleted


  /results:
    get:
      summary: Get results
      responses:
        "200":
          description: Results list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Result'

    post:
      summary: Create result
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Result'
      responses:
        "201":
          description: Result created

  /results/{id}:
    get:
      summary: Get result by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: Result details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'

    put:
      summary: Update result
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Result'
      responses:
        "200":
          description: Result updated

    delete:
      summary: Delete result
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "204":
          description: Result deleted


  /announcements:
    get:
      summary: Get announcements
      responses:
        "200":
          description: Announcement list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'

    post:
      summary: Create announcement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Announcement'
      responses:
        "201":
          description: Announcement created

  /announcements/{id}:
    get:
      summary: Get announcement by ID
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "200":
          description: Announcement details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'

    put:
      summary: Update announcement
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Announcement'
      responses:
        "200":
          description: Announcement updated

    delete:
      summary: Delete announcement
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        "204":
          description: Announcement deleted


components:

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    Role:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        menus:
          type: array
          items:
            $ref: '#/components/schemas/Menu'

    Menu:
      type: object
      properties:
        name:
          type: string
        path:
          type: string
        icon:
          type: string

    Student:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        rollNumber:
          type: string
        departmentId:
          type: string
        year:
          type: integer
        attendancePercentage:
          type: number
        cgpa:
          type: number

    Faculty:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        departmentId:
          type: string
        designation:
          type: string

    Course:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        code:
          type: string
        departmentId:
          type: string
        facultyId:
          type: string

    Attendance:
      type: object
      properties:
        id:
          type: string
        studentId:
          type: string
        courseId:
          type: string
        date:
          type: string
          format: date
        status:
          type: string
          enum: [PRESENT, ABSENT]

    Result:
      type: object
      properties:
        id:
          type: string
        studentId:
          type: string
        courseId:
          type: string
        marks:
          type: number
        grade:
          type: string

    Announcement:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        message:
          type: string
        createdByRole:
          type: string
        createdAt:
          type: string
          format: date